<header class="site-header" role="banner">

  <div class="wrapper" id="nav">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <nav class="site-nav">
        <div>
          {%- for path in site.data.nav -%}
            {%- assign my_page = page_paths | where: "path", path.url | first -%}
            <a class="page-link" href="{{ path.url | relative_url }}">{{ path.page | escape }}</a>
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>

  
</header>