---
---

@import "theme.scss";
@import "nav.scss";

#nav{
	margin-top: 0px;
	background-color: #469DD6;
}

h1{
	font-family: "Oswald";
}

.blog, .post{
	padding-top: 75px;
	border-bottom: 1px solid gray;
}

.blog div, .post div{
	width: 70%;
	display:block;
	margin: auto;
	padding: 40px 0px;
}

@media screen and (max-width: 600px) {
	.blog div, .post div{
		width: 85%;
	}
}

li{
	margin: 0px 40px 40px 0px;
	color: gray;
}

// date
.post-meta{
	font-size: 15px;
	color: gray;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	font-family: "Open Sans";
}

// category
.post-category{
	font-size: 15px;
	color: #469DD6;
	font-family: "Open Sans";
	text-transform: uppercase;
	margin: 0px 0px 0px 5px;
}

.post-category:hover{
	color: gray;
}

// title
h3{
	font-family: "Oswald";
	font-size: 30px;
	margin: 0px;
	padding: 0px;

}

.post-link:hover{
	color: #469DD6;
}

a{
	color: black;
}

// subtitle
.post-subtitle{
	color: black;
	margin: 0px;
	font-family: "Open Sans Condensed";
	padding: 0px;
}

// actual post
#post-content{
	padding-top: 20px;
	margin-top: 0px;
	text-align: justify;
	font-family: 'Barlow Condensed'
}

// footer 
.social-media-list li{
	margin: 0px;
	padding: 0px;
}

// *** categories scss *** 
#categories {
	.category-title{
		text-transform: uppercase;
		color: #469DD6;
		font-family: "Oswald";
		font-size: 30px;
	}
}

// *** post page scss ***
.post-header{
	h1{
		margin-bottom: 5px;
	}

	p{
		margin: 0px;
	}
}