---
---

@import "theme.scss";
@import "nav.scss";

#about, #projects{
	font-family: "Open Sans Condensed";
	width: 99.5%;
	display: block;
	overflow: auto;
	margin-left: 5px;
	padding: 30px 0px;
	border-bottom: 1px solid gray;
}

#mypic{
	margin: 20px 0px 20px 10px;
	width: 30%;
	float:left;

	img{
		border-radius: 400px;
		height: auto;
		width: 250px;
		float: right;
		padding: 20px 0px;
	}
}

#aboutme{
	margin: 20px 125px 0px 30px;
	text-align: center;
	width: 50%;
	float:right;
	padding: 0px 30px;
}

#projects div{
	margin: auto;
	text-align: center;
	width: 75%;
	padding: 40px;
}

h1{
	font-size: 40px;
}

p{
	font-size: 20px;
	text-align: justify;
}

// homepage background
#background{
	background-image: url("../graphics/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 700px;
	padding: 0;
	margin: -30px 0px 0px -10px;
	width: 102%;
}

#animate{
	font-family: "Open Sans Condensed", "sans serif";
	width: 100%;
	color: white;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	padding-top: 250px;
}


// when browser is small
@media only screen and (max-width: 1125px) {
	#mypic, #aboutme{
		display: block;
		margin: auto;
		width: 80%;
		float: none;

		img{
			float: none;
			margin: 0 auto;
			display: block;
		}
	}
}