---
---
@import "theme.scss";
@import "nav.scss";

body{
	width: 100%;
}

a{
	text-decoration: none;
}

.site-title {
	font-family: "Oswald", "sans serif";
	text-transform: uppercase;
	font-size: 60px;
	color: white;
}