// *** nav bar ***
#nav{
	position: fixed;
	width: 100%;
	height:70px;
	padding: 20px 0px 15px 20px;
	z-index: 100;
	margin: 0px 10px 0px -10px;
}

.site-nav{
	position: relative;
	float: right;
	font-family: "Open Sans Condensed";
	text-transform: uppercase;
	font-size: 20px;
	line-height: 25px;

	// Gaps between nav items, but not on the last one
    :not(:last-child) {
      margin-right: 20px;
    }

    :last-child{
    	margin-right: 200px;
    }
}

// checkbox for hamburger
#nav-trigger {
	display: none;
}

.menu-icon {
	text-align: center;
	vertical-align: middle;
}

.page-link {
	color: white;
	font-weight: bold;
}