---
layout: default
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155204630-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155204630-1');
</script>

<head>
  <link rel="stylesheet" href="{{ '/assets/SCSS/blog.css' | relative_url }}">
</head>

<body>
<div class="blog">
  <div>
    <h1>Latest Posts</h1>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> •

        {%- if post.categories-%}
          <a class="post-category" href="categories/#{{ post.categories[0] }}"> {{post.categories[0] | escape}} </a>
        {%- endif -%}

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.subtitle -%}
          <p class="post-subtitle">{{ post.subtitle }}</p>
        {%- endif -%}
      {%- endfor -%}
      </li>
    </ul>
  {%- endif -%}

  </div>
</div>

</div>
</body>