---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ '/assets/SCSS/blog.css' | relative_url }}">
</head>

<div class="blog" id="categories">
  <div>

  {%- if site.categories.size > 0 -%}
      {%- for category in site.categories -%}

      <h1 class="category-title" id="#{{ category[0] }}">{{ category[0] }}</h1>

  <ul class="post-list">
      {%- for post in category[1] -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> •

        {%- if post.categories-%}
          <span class="post-category"> {{post.categories[0] | escape}} </span>
        {%- endif -%}

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.subtitle -%}
          <p class="post-subtitle">{{ post.subtitle }}</p>
        {%- endif -%}
      {%- endfor -%}
      </li>
    </ul>
    {%- endfor -%}
  {%- endif -%}

  </div>
</div>

</div>