---
layout: default
---
<head>
	<script type="text/javascript" src="{{ '/assets/JS/home.js' | relative_url }}"></script>
	<link rel="stylesheet" href="{{ '/assets/SCSS/home.css' | relative_url }}">
</head>
<body>
<div id="background">
		<p id="animate">
			<span class="home-intro">--- hey, i'm ---</span><br>
			<span class="site-title">{{ site.title | escape }}</span><br>
			. <span class="home-intro" id="greetings"></span>
			<span class="home-intro" id="cursor">|</span>
		</p>
</div>

<div id="about">
	<div id="mypic">
		<img src="{{ '../assets/graphics/mypic.png' | relative_url}}">
	</div>
	<div id="aboutme">
			<h1>ABOUT ME</h1>
			<p>I'm a first year undergraduate student at MIT studying computer science with a minor in creative writing. Coding and writing, in my eyes, are extremely similar: Through the lines of code I write, I’m communicating with computers the same way I communicate with the people around me. The only difference is, instead of English, I’m using Python (or Java, etc). My interests lie in understanding people and using the tools I have to solve problems we face, whether it's through books or technology. Aside from coding and writing, I enjoy reading, running, listening to music, playing card / board games, and spending time with friends. </p>
	</div>
</div>

<div id="projects">

</div>

<div id="contact">

</div>

 <div> {{ content }} </div>

</body>