---
layout: default
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155204630-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155204630-1');
</script>

<head>
	<script type="text/javascript" src="{{ '/assets/JS/home.js' | relative_url }}"></script>
	<link rel="stylesheet" href="{{ '/assets/SCSS/home.css' | relative_url }}">
	
</head>
<body>
<div id="background">
		<p id="animate">
			<span class="home-intro">--- hey, i'm ---</span><br>
			<span class="site-title">{{ site.title | escape }}</span><br>
			. <span class="home-intro" id="greetings"></span>
			<span class="home-intro" id="cursor">|</span>
		</p>
</div>

<div id="about">
	<div id="mypic">
		<img src="{{ '../assets/graphics/mypic.png' | relative_url}}">
	</div>
	<div id="aboutme">
			<h1>ABOUT ME</h1>
			<p> {{ site.description }}</p>
	</div>
</div>

<div id="projects">
	<h1>PROJECTS</h1>
	
	{%- for path in site.data.projects -%}
		{%- if path.count == 0 or path.count == -1 -%}
			<div id="project">
		{%- endif -%}
		<div class="project-info-div">
			<a href="{{ path.link }}"><img class="project-image" src="{{ path.image }}" ></img></a>
			<div class="project-info">
				<p><span class="project-title">{{ path.title }}</span><br><span class="project-award">{{ path.award }}</span></p>
				<p class="project-description">{{ path.description }}</p>
			</div>
		</div>

		{%- if path.count == 1 or path.count == -1 -%}
			</div>
		{%- endif -%}
	{%- endfor -%}
</div>

</body>