---
layout: default
---
<head>
	<script type="text/javascript" src="{{ '/assets/JS/home.js' | relative_url }}"></script>
	<link rel="stylesheet" href="{{ '/assets/SCSS/main.css' | relative_url }}">
</head>
<body>
<div id="background">
		<p id="animate">
			<span class="home-intro">--- hey, i'm ---</span><br>
			<span class="site-title">{{ site.title | escape }}</span><br>
			. <span class="home-intro" id="greetings"></span>
			<span class="home-intro" id="cursor">|</span>
		</p>
</div>

<div id="about">
	<h1>ABOUT ME</h1>

</div>

 <div> {{ content }} </div>

</body>