---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ '/assets/SCSS/blog.css' | relative_url }}">
</head>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-header">
    <header>
      <p class="post-meta">
          {%- if page.categories-%}
            <a class="post-category" href="../../../../blog/categories/#{{ page.categories[0] }}">{{page.categories[0] | escape}} </a>
          {%- endif -%}

          {%- if page.author -%}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</span>
        {%- endif -%}
        </p>

      <h1 class="post-title">{{ page.title | escape }}</h1>

      <time datetime="{{ page.date | date_to_xmlschema }}" class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}</time>
          
      <div><img class="post-image-div" src="{{ page.image | relative_url }}"></div>
      <div><span class="post-caption">{{ page.caption }}</span></div>

    </header>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a href="{{ page.url | relative_url }}" hidden></a>
</div>
</article>
